* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* HEADER */
header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* DEBUG */
  background-color: #add8e7;
}

.container-header {
  height: 40px;
  display: flex;
  /* DEBUG */
  background-color: #daa51e;
}

.logo {
  display: flex;
  flex-basis: 20%;
  align-items: center;
  /* DEBUG */
  border: 1px solid #000000;
}

.logo > span {
  padding-left: 15px;
}

.menu-header {
  flex-basis: 60%;
  /* DEBUG */
  border: 1px solid #000000;
}

.menu-header > ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.button {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* DEBUG */
  border: 1px solid #000000;
}

.button > .stylish-button {
  margin-right: 15px;
}
/* HEADER */

/* MAIN */
.section-s-container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* DEBUG */
  background-color: #00018b;
}

.container-s {
  height: 400px;
  flex-basis: 50%;
  /* DEBUG */
  background-color: #ef82ed;
}

.section-standard-container {
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-xl-container {
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-xl {
  height: 1150px;
  /* DEBUG */
  background-color: #218b21;
  border: 1px solid #000000;
}
/* MAIN */

/* FOOTER */
footer {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* DEBUG */
  background-color: #23272a;
}

.container-footer {
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 100%;
}

.container-mini-footer {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* DEBUG */
  background-color: #7fffd4;
}

.container-mini-footer > span,
button {
  padding: 6px;
  /* DEBUG */
  border: 1px solid #000000;
}

.container-footer-width {
  width: 75%;
  /* DEBUG */
  border: 1px solid #fff;
}
/* FOOTER */

/* Global Classes */

/* Container Sizes */
.container-standard-width {
  flex-basis: 75%;
}

.container-xl-height {
  height: 800px;
}

/* Subcontainer Sizes */
.subcontainer-standard {
  height: 600px;
  flex-basis: 50%;
  /* DEBUG */
  background-color: #1e90ff;
  border: 1px solid #000000;
}

.subcontainer-m {
  height: 600px;
  flex-basis: 25%;
  /* DEBUG */
  background-color: #ffc0ca;
  border: 1px solid #000000;
}

.subcontainer-s {
  height: 100%;
  flex-basis: 40%;
  /* DEBUG */
  background-color: #f08180;
}

.subcontainer-xs {
  flex-basis: 15%;
  height: 100%;
  /* DEBUG */
  background-color: #20b3aa;
  border: 1px solid #000000;
}

/* Colors */
.grey {
  background-color: #d3d3d3;
}

.pink {
  background-color: #feb4c6;
}
